// fonts
$font-mulish: 'Mulish', sans-serif;
$font-rubik: 'Rubik', sans-serif;
$font-ibm: 'IBM Plex Mono', monospace;
$font-circular: 'Circular', sans-serif;
// colors
$color-accent: #22E0BB;
$color-primary: #060A33;
$color-secondary: #F7FAFC;

body{
    background-color: white;
}

input{
    border: none;
    padding: 0 !important;

    &:focus{
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
}