nav {
  .navigation-link {
    color: rgba(95, 107, 122, 1);
    font-family: $font-rubik;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 2px;

    @media only screen and (min-width: 1536px) {
      font-size: 18px;
    }
  }

  .active {
    color: $color-primary;
    font-weight: 500;
    position: relative;
  }

  .btn-badge {
    background: rgba(247, 250, 252, 1);
    width: 160px;
    height: 38px;
    border-radius: 10px;
    border: 1px solid rgba(226, 237, 246, 1);
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .notify {
      color: #5f6b7a;
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 14px;
      margin: 0 8px;
    }

    .badge {
      background: rgba(214, 47, 75, 1);
      padding: 4px;
      border-radius: 6px;
      height: 18px;
      font-size: 12px;
      color: white;
      font-family: $font-rubik;
      font-weight: 500;
    }
  }

  .profile-btn {
    height: 38px;
    width: 144px;
    border-radius: 10px;
    padding: 6px 12px;
    background: rgba(247, 250, 252, 1);
    border: 1px solid rgba(226, 237, 246, 1);
    margin: 0 16px;

    .profile-name {
      color: #5f6b7a;
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 14px;
      margin: 0 8px;
    }

    .profile-dropdown {
      background: white;
      height: 80px;
      width: 144px;
      border-radius: 6px;
      box-shadow: 0px 8px 30px 0px rgba(174, 174, 192, 0.15);
      border: 1px solid rgba(225, 231, 236, 1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      li {
        padding: 12px 16px;
        font-size: 14px;
        font-weight: 400;
        height: 40px;

        .settings {
          font-family: $font-rubik;
          color: #5f6b7a;
          margin: 0 8px;
        }
      }

      .log-out {
        color: #d62f4b;
        font-family: $font-rubik;
        margin: 0 8px;
      }
    }
  }

  .profile-button {
    height: 38px;
    border-radius: 10px;
    padding: 6px 12px;
    background: rgba(247, 250, 252, 1);
    border: 1px solid rgba(226, 237, 246, 1);
    margin: 0 16px;

    .profile-name {
      color: #5f6b7a;
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 14px;
      margin: 0 8px;
    }

    .profile-dropdown {
      background: white;
      height: auto;
      width: 144px;
      border-radius: 6px;
      box-shadow: 0px 8px 30px 0px rgba(174, 174, 192, 0.15);
      border: 1px solid rgba(225, 231, 236, 1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-top: 10px;

      li {
        padding: 12px 16px;
        font-size: 14px;
        font-weight: 400;
        height: 40px;

        .settings {
          font-family: $font-rubik;
          color: #5f6b7a;
          margin: 0 8px;
        }
      }

      .log-out {
        color: #d62f4b;
        font-family: $font-rubik;
        margin: 0 8px;
      }
    }
  }
}

.btn-badge-responsive {
  width: auto !important;
}

.nav-mobile-container {
  height: 100vh;
  position: absolute;
  width: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 999999;
  left: 0;
  padding: 33px 18px;

  @media only screen and (min-width: 501px) and (max-width: 600px) {
    width: 80%;
  }

  @media only screen and (max-width: 500px) {
    width: 100%;
  }

  .mobile_btn-badge {
    background: rgba(247, 250, 252, 1);
    width: 200px;
    height: 48px;
    border-radius: 10px;
    border: 1px solid rgba(226, 237, 246, 1);
    padding: 10px;
    margin-right: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .notify {
      color: #5f6b7a;
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 14px;
      margin: 0 8px;
    }

    .badge {
      background: rgba(214, 47, 75, 1);
      padding: 4px;
      border-radius: 6px;
      height: 18px;
      font-size: 12px;
      color: white;
      font-family: $font-rubik;
      font-weight: 500;
    }
  }

  .mobile_profile-btn {
    height: 48px;
    width: 160px;
    border-radius: 10px;
    padding: 6px 12px;
    background: rgba(247, 250, 252, 1);
    border: 1px solid rgba(226, 237, 246, 1);

    .profile-name {
      color: #5f6b7a;
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 14px;
      margin: 0 8px;
    }

    .profile-dropdown {
      background: white;
      height: 80px;
      width: 144px;
      border-radius: 6px;
      box-shadow: 0px 8px 30px 0px rgba(174, 174, 192, 0.15);
      border: 1px solid rgba(225, 231, 236, 1);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      li {
        padding: 12px 16px;
        font-size: 14px;
        font-weight: 400;
        height: 40px;

        .settings {
          font-family: $font-rubik;
          color: #5f6b7a;
          margin: 0 8px;
        }
      }

      .log-out {
        color: #d62f4b;
        font-family: $font-rubik;
        margin: 0 8px;
      }
    }
  }

  .line {
    width: 100%;
    height: 0.5px;
    background: #f5f8fa;
    margin: 24px 0;
  }

  &_list {
    display: flex;
    flex-direction: column;
    width: 100%;

    &-item {
      display: flex;
      font-size: 16px;
      font-family: $font-rubik;
      color: #5f6b7a;
      font-weight: 400;
      height: 51px;
      padding: 16px;
      margin-bottom: 8px;

      &:hover {
        background: #f7fafc;
        border-radius: 8px;
      }
    }

    .active-mobile-nav {
      color: $color-primary;
      font-weight: 500;
      background: #f7fafc;
      border-radius: 8px;
    }
  }
}
