.signup-container {
  background-color: $color-secondary;
  padding: 64px 0;
  background-image: url("../assets/icons/logomark2.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 30%;

  &-2 {
    @media only screen and (max-width: 950px) {
      flex-direction: column;
    }
  }
  .signup {
    //
    margin-top: 100px;
    width: 405px;

    @media only screen and (max-width: 950px) {
      width: 80%;
      margin: 40px auto 0;
    }
    &-logo {
      margin-bottom: 32px;
    }

    &-footer {
      margin-left: 100px;

      @media only screen and (max-width: 950px) {
        width: 80%;
        margin: 40px auto 0;
      }
    }

    &-details {
      margin: 24px 0;

      &_icon {
        margin: 0 8px;
        width: 28px;
        height: 28px;
      }

      &_title {
        font-family: $font-rubik;
        font-weight: 600;
        font-size: 16px;
        color: $color-primary;
      }

      &_subtitle {
        font-family: $font-mulish;
        font-weight: 400;
        font-size: 14px;
        color: #5f6b7a;
        margin: 4px 0;
      }
    }
  }

  .signup-form {
    height: auto;
    width: 500px;
    border-radius: 8px;
    padding: 32px;
    box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;

    @media only screen and (max-width: 949px) {
      margin: 40px auto 0;
      padding: 23px;
    }

    @media only screen and (max-width: 540px) {
      width: 90%;
    }

    .title {
      font-family: $font-rubik;
      font-weight: 500;
      font-size: 18px;
      color: $color-primary;
      margin-top: 10px;
    }

    .sub {
      font-size: 13px;
      color: #5f6b7a;
      margin: 8px 0;
    }

    .signup-alt-btn {
      height: 48px;
      width: 100%;
      border-radius: 8px;
      padding: 4px;
      border: 1px solid rgba(225, 231, 236, 1);
      padding: 4px;
      margin: 12px 0px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_btn-1 {
        height: 40px;
        width: 192px;
        border-radius: 5px;
        padding: 12px 32px;
        // margin: 0 8px;
        font-family: $font-rubik;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #5f6b7a;

        @media only screen and (max-width: 350px) {
          width: 100%;
          margin: 0;
        }
      }
    }

    .line {
      height: 0.5px;
      background: #e1e7ec;
      margin: 16px 0 20px;
      width: 100%;
    }

    .error-message {
      font-size: 14px;
      font-family: $font-mulish;
      font-weight: 400;
      color: red;
      margin: 8px 0;
    }

    .error-line {
      height: 0.5px;
      background: red;
      margin: 16px 0;
      width: 100%;
    }

    &_field {
      margin-bottom: 23px;

      .react-tel-input {
        margin: 8px 0;
        .form-control {
          height: 48px;
          width: 100%;
          font-family: $font-rubik;
          font-weight: 400;
          color: #212934;
        }

        .selected-flag {
          padding: 10px;
          width: 48px;
        }

        .country-list {
          .country-name,
          .dial-code {
            color: $color-primary;
            font-family: $font-rubik;
            font-weight: 400;
          }
        }
      }

      .label {
        font-family: $font-rubik;
        font-weight: 400;
        font-size: 16px;
        margin: 0 0 8px;
        color: #212934;
      }

      label {
        height: 48px;
        width: 100%;
        border-radius: 6px;
        padding: 10px 16px 10px 12px;
        border: 1px solid rgba(225, 231, 236, 1);
        margin: 8px 0 0;

        input {
          width: 100%;
          font-family: $font-rubik;
          font-weight: 400;
          color: #212934;
          
          input:-webkit-autofill,
          input:-webkit-autofill:hover,
          input:-webkit-autofill:focus,
          input:-webkit-autofill:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
            box-shadow: 0 0 0 30px white inset !important;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
    .signup-field-tnc {
      font-family: $font-rubik;
      font-weight: 400;
      font-size: 12px;
      color: #212934;

      &_item {
        font-family: $font-rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        color: $color-primary;
        margin: 0 4px;
      }
    }

    .signup-field-checkbox {
      height: 24px;
      width: 24px;
      margin-right: 12px;
      cursor: pointer;
    }
  }
}

.btn-active {
  background: #212934;
  color: white !important;
}
